
.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.data-table th, .data-table td {
  border: 1px solid #dddddd;
  padding: 8px;
}
.selected-row {
  background-color: blue;
}

.data-table th {
  background-color: #f2f2f2;
}

.data-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.data-table tr:hover {
  background-color: blue;
}
.h1 {
  color: red;
}
.print-button {
  height: 50px; /* Adjust the height as needed */
  font-size: 16px; /* Optional: Adjust font size for better appearance */
  padding: 10px 20px; /* Optional: Add padding for better spacing */
}